<h2 >Please register</h2>

<form class="signup">
  First name:<br>
  <input [(ngModel)]="firstname" type="text" name="firstname" id="fn">
  <br>
  Last name:<br>
  <input [(ngModel)]="secondname" type="text" name="lastname" id="ln">
  <br>
   User name:
   <br>
  <input [(ngModel)]="username" type="text" name="username" id="un">
  <br>
  Password:<br>
  <input [(ngModel)]="password" type="text" name="password" id="pass">
  <br>
  <br>
   <input class="btn" type="button" value="Submit" (click)="myFunction()">
   </form>
<br>
